:root {
    --dark-blue: #2F4858;
    --blue: #33658A;
    --light-blue: #86BBD8;
    --yellow: #F6AE2D;
    --orange: #F26419;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background-color: #fff;
    height: 100vh;
}

.container {
    margin: 5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 80vw!important;
    height: 80vh!important;
}

.marker {
    filter: contrast(50%);
    position: absolute;
    top: 25%;
    left: 65%;
    width: 2vw;
    height: 5vh;
}

@media only screen and (max-width: 1280px) {
    #map {
        width: 80vw!important;
        height: 80vh!important;
    }
    .marker {
        width: 5vw!important;
        height: 10vh!important;
    }
}

@media only screen and (max-width: 1050px) {
    #map {
        width: 80vw!important;
        height: 80vh!important;
    }
    .marker {
        width: 10vw!important;
        height: 10vh!important;
    }
}

@media only screen and (max-width: 600px) {
    #map {
        width: 80vw!important;
        height: 80vh!important;
    }
    .marker {
        width: 10vw!important;
        height: 10vh!important;
    }
}